.ant-card-head-title {
  /* word-wrap: break-word; */
  white-space: normal;
  /* word-break: break-all; */
}

.ant-radio-group{
  display: flex;
  flex-direction: column;
}

.ant-card-head {
  background: none;
}